AUTH_PROVIDER_X509_CERT_URL=your_value_here
AUTH_URI=your_value_here
CLIENT_EMAIL=your_value_here
CLIENT_X509_CERT_URL=your_value_here
DOPPLER_CONFIG=your_value_here
DOPPLER_ENVIRONMENT=your_value_here
DOPPLER_PROJECT=your_value_here
PRIVATE_KEY=your_value_here
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDspKhGLPT5SLCx
UWiCqpZzf24sQuyDTu2cUzyEBeH+8T/Nx5ROCzHYUAd/KrhgyHUYt/HWIBspxiMp
8S//Cvk3axHqtLZXunDc3sN2zfimQIuoFukOcdYBR9Vm32zqO9d3NGn5p2meaILO
kCeTksj+M6HyoN5MVVIHftn96io6LxlIGpglYEHsUdQ7GNMCG99jAfKy+mIVFJOf
xe/+KASOt8PRj054rH1eaq47LZ98t03UtQmZ+BFsdEFs0YE4wf9Ykf/dCtJmC2rQ
ELP3bnFC9m+Jhv2/EngHmZQzGc4YuMdp2hssWy8oy9XQnMj9vQh2Ce3YAnPjf4WE
pw4YZakPAgMBAAECggEAAoxesdC1fmh6ILATT38yfrXpBN9YFLvaiq3REtBCjA2Q
2njQGfMM2ufZQzfpfvRJqxitCEcgoe15IKqy5d/y+h8WDMr16Rg5qJKqr60JASho
Cfixwm0PzEB5saHvZOwr/gaL7UOMvwVa3f9Um/IUV2QZ3Uz8o7t0Kl70kB7jZgnX
BBOVhs82rfdJnPD11FKkQmUDNLTIxr5uLkgnul3JG5iwkJxaVlBIrVDKqvOnbOPj
nGSHVfi09gN6C/YbERF5czI4s94XpIzNHpUfhU+jqLnMzM6mdL+0rz4r62fMEqHW
CNgrS4nsuItbQpHXAAMlWkKplcK8okyfvlsHY5B7GQKBgQD7KWiqPnWNU6SPu9Af
dUBMSqU0M5506U/0FWr381sNnIH0p6/jtJr8YB7PWmU132cP3RON1CPz/nTGc0RT
qqey9E1J1TDGnxuGdwhQHojs1Wc88d4utrpo1qjnzw8lpCCCgrm+7p9qxwx2g7H9
ytSbSzKg6+gkX9nAXCO8SPpC1QKBgQDxM6akT1hQPUIKE1UWKghKiMujZOdKq2XP
XEebAJpPUNLY9mdxLYOSrKfDccg+onwormErhPnn2y3LtOBenfsfSGpOhlCEjbjy
vSS6pK/lCF1yTAlA4YYqtJK06xVDWC3Gq/peBqxIT4U38bg34Ii6YwoOmG6M/Y70
MoDiKW0GUwKBgGnL2ZDM2ot7jjgVbuexZjI8xzYkAD1TAiDY3MQxOEuVf5BlCkwq
iZaBjrjdZQC6aBlgkJoPoE1pBBuL9l4f5qAVFHFjYjZoUxnjDhdhpV/NzLz5TRP0
WLVMpr1ulPzQE/mlw0RQE8rQqclKVDGJvODlXiA2/wRDc9/5b/wh6Xk5AoGAH5tx
Ht7256zfVoqp/7mKVJoQdVznojVLphyllX5CuloRBzVi4MXiE/pkEYx7fRm1w272
dMl8JhHmsmcFb+Cr47GNnLSlIHmh3s1CXuLt2cl61Vt5avMirb3z65lSs/x+Iyau
LFwbf25MOsSGK2xU/nez/a2j7v3bGcz0bq6XBtkCgYEAxPHj516/4VtRi21jEXxg
HUpr81SS3ucMHWAlRLhmZhJY0rZqto81oiMDHzn52YEz4YL1fUyuLF39zPKJytY0
eVC44Cz7Kt9IKxzTfrY9YLTbiUIXw6T84XpHFIPdZb/ipzu/qBIIzQ09abbA/Qr7
FxPVrMnpIkDbUSWQe6T5PBM=your_value_here
-----END PRIVATE KEY-----"
PRIVATE_KEY_ID=your_value_here
PROJECT_ID=your_value_here
TOKEN_URI=your_value_here
TYPE=your_value_here
UNIVERSE_DOMAIN=your_value_here
